{:skill
 {:description "This section supports markdown",
  :package {:use "atomist/package-cljs-skill"},
  :license "unknown",
  :name "atomist/git-chatops-skill",
  :icon
  "https://cdn3.iconfinder.com/data/icons/chat-bot-emoji-blue-filled-color/300/14134081Untitled-3-512.png",
  :title "git chatops skill",
  :author "slimslenderslacks",
  :runtime
  {:memory 512,
   :timeout 60,
   :entry_point "eventhandler",
   :name "nodejs10"},
  :homepageUrl "https://github.com/atomist-skills/git-chatops-skill"}
 :resourceProviders [{:name "github",
                      :description "GitHub",
                      :typeName "GitHubAppResourceProvider",
                      :minRequired 1,
                      :maxAllowed 1}]
 :parameters [{:string
               {:description "keyword to use to recognize a command"
                :name "keyword"
                :required false
                :placeHolder "atomist"}}
              {:string
               {:description "default label color"
                :name "default_color"
                :required false
                :placeHolder "f29513"}}
              {:repoFilter
               {:description "The set of Repositories.",
                :displayName "Repository Scope",
                :name "scope",
                :required false}}]}
