{:description "Run commands from Commit messages and Issue comments",
 :license "Apache-2.0",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}
  {:name "slack",
   :description "Slack",
   :typeName "SlackResourceProvider",
   :minRequired 0,
   :maxAllowed 1}],
 :displayName "GitHub Slash Commands",
 :name "github-slash-commands-skill",
 :author "Atomist",
 :iconUrl
 "https://images.atomist.com/skills/chatbot.png",
 :runtime
 {:memory 512,
  :timeout 60,
  :entry_point "eventhandler",
  :name "nodejs10"},
 :homepageUrl "https://github.com/atomist-skills/github-slash-commands-skill",
 :parameters
 [{:repoFilter
   {:description "The set of Repositories.",
    :displayName "Repository Scope",
    :name "scope",
    :required false}}],
 :namespace "atomist",
 :artifacts
 {:gcf
  [{:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 512, 
    :runtime "nodejs10", 
    :timeout 60}]}}
